<?php
/**
 * Madkting Software (http://www.madkting.com)
 *
 *                                      ..-+::moossso`:.
 *                                    -``         ``ynnh+.
 *                                 .d                 -mmn.
 *     .od/hs..sd/hm.   .:mdhn:.   yo                 `hmn. on     mo omosnomsso oo  .:ndhm:.   .:odhs:.
 *    :hs.h.shhy.d.mh: :do.hd.oh:  /h                `+nm+  dm   ys`  ````mo```` hn :ds.hd.yo: :oh.hd.dh:
 *    ys`   `od`   `h+ sh`    `do  .d`              `snm/`  +s hd`        hd     yy yo`    `sd oh`    ```
 *    hh     sh     +m hs      yy   y-            `+mno`    dkdm          +d     o+ no      ss ys    dosd
 *    y+     ss     oh hdsomsmnmy   ++          .smh/`      om ss.        dh     mn yo      oh sm      hy
 *    sh     ho     ys hs``````yy   .s       .+hh+`         ys   hs.      os     yh os      d+ od+.  ./m/
 *    od     od     od od      od   +y    .+so:`            od     od     od     od od      od  `syssys`
 *                                 .ys .::-`
 *                                o.+`
 *
 * @category Module
 * @package Madkting\Connect
 * @author Carlos Guillermo Jiménez Salcedo <guillermo@madkting.com>
 * @link https://bitbucket.org/madkting/magento2
 * @copyright Copyright (c) 2017 Madkting Software.
 * @license See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php /** @var $block Madkting\Connect\Block\Adminhtml\AttributeOptionMapping\Grid */ ?>
<?php if (!empty($attributesMapped = $block->getAttributeMapped())): ?>
<div class="attribute-option-selector-wrapper">
    <span class="attribute-selector-message"><?php echo __('Select Madkting\'s attribute') ?></span><br />
    <select id="madkting-attribute-select" class="admin__control-select">
        <?php echo $attributesMapped['madkting']; ?>
    </select>
</div>
<div class="attribute-option-selector-wrapper">
    <span class="attribute-selector-message"><?php echo __('Select Magento\'s attribute') ?></span><br />
    <select id="magento-attribute-select" class="admin__control-select">
        <?php echo $attributesMapped['magento']; ?>
    </select>
</div>
<?php else: ?>
<div class="message">
    <div data-ui-id="messages-message-success">
        <?php echo __('There are not options to be mapped.') ?>
    </div>
</div>
<?php endif; ?>
